body{
  margin: 0 auto;
}

#splash-screen-image{
  margin: 0 auto;
  width: 100%;
  height: 1200px;
  background-image: url("/images/monster-fight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#splash-screen-filter{
  margin: 0 auto;
  width: 100%;
  height: 1200px;
  background-color: rgba(128,128,128,0.65);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  height: 30%
}

.hand {
  height: 15%
}

.choice {
 height: 20%
}

.space {
  height: 2%
}

img{
  width: 100%
}
.jumbotron{
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
  background-color: brown;
  color: papayawhip;
}

.jumbotron,
.navbar-brand {
  font-family: 'Lalezar', cursive;
}

.jumbotron h1 {
  font-size: 10rem;
}

.superscript{
  font-size: 2rem;
}

#button-battle{
  display: inline-block;
  height: 100px;
  width: 250px;
  background-color: rgba(165,42,42,.8);
  color: papayawhip;
  font-size: 6rem;
  margin: 350px auto 0;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px white;
  border: none;
}
#splash-screen-filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#howto {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: 5px solid rgba(165,42,42,.8);
  border-radius: 50px;
  padding: 50px;
  max-width: 800px;
  margin-top: 100px;
}
#howto p,
#howto li {
  font-size: 1.5rem;
}

#howto h2{
  font-size: 4rem;
}

#howto ol {
  padding-left: 0;
}
ol > li{
  list-style: none;
}

#p1_keys,
#p2_keys {
  display: inline-block;
  width: 45%;
  padding: 2.5%;
}
