<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='/app.css'>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <title>Super Chance</title>
  </head>
  <body id='battle_layout'>
    <div id="battle-screen-image">
      <div id="battle-screen-filter">
        #parse($template)
      </div>
    </div>
  </body>
</html>
