<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='/app.css'>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <title>Super Chance</title>
  </head>
  <body>
    <div class="container">
      #parse($template)
      <br>
      <a href="/">Home</a> / <a href="/species">All Species</a> / <a href="/monsters">All Monsters</a> / <a href="/cards">All Cards</a> / <a href="/battles">All Battles</a> / <a href="/players">All Players</a>
    </div>

    <element onkeypress="loadPage()">


  </body>
</html>
