<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>VPOnline</title>
  </head>
  <body>
    <div class="container">
      #parse($template)
    </div>
    <a href="/">Home</a> / <a href="/monsters">All Monsters</a> / <a href="/cards">All Cards</a> / <a href="/battles">All Battles</a> / <a href="/players">All Players</a>
  </body>
</html>
