<h3>$monster.getName()</h3>

Species: $monster.getSpecies_Name() <br>
Health: $monster.getMax_Health() <br>
Power: $monster.getBase_Power() <br>
Defense: $monster.getBase_Defense() <br>
Wins: $monster.getWins() <br>
Losses: $monster.getLosses() <br>
