<h3>$monster.getName()</h3>

Owner: $player.getName()<br>
Born: $monster.getBorn()<br>
Last Interaction: $monster.getLast_Interacted()<br>
In Battle: $monster.getIn_Battle()<br>
EXP: $monster.getExp()<br>
Level: $monster.getLevel()<br>
Rest: $monster.getRest()<br>
Base Health: $monster.getBase_Health()<br>
Base Power: $monster.getBase_Power()<br>
Base Defense: $monster.getBase_Defense()<br>
Max Deck: $monster.getBase_Deck_Size()<br>
